@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  flex: 0.5;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: flex ease-in 0.7s;
}

.panel .panel__title {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
  flex: 1;
}

.panel.active .panel__title {
  opacity: 1;
}
